body {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    text-decoration: underline;
    font-size: 3.5vw;
}

.container {
    width: 100%;
    display: flex;
}

.containerleft {
    width: 25%;
    margin-left: 2.0vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    border: 0.01vw solid rgb(170, 170, 170);
    padding: 3vw;
    border-radius: 3vw;
}

.containerleft .h2personal{
    text-align: left;
}


.containerleft img {
    width: 85%;
    height: 20vw;
}

.containerleft .tellink2{
    margin-left: 4.5vw;
    text-decoration: none;
}
.containerleft .tellink1{
    text-decoration: none;
}
.containerleft .Email{
    text-decoration: none;
}
.containerright {
    width: 60%;
}

.containerright .innerdiv{
    background-color: rgb(255, 50, 60);
    color: white;
    padding: 5vw;
    border-radius: 5vw;
}

.containerright h3{
    color: rgb(255, 50, 60);
    margin-left: 5vw;
    font-size: 2vw;
}

.educontainer{
    display: flex;
}

.educontainer .eduleft{
    margin-left: 5vw;
    font-size: 1.5vw;
    line-height: 0.5vw;
}

.educontainer .eduright{
    margin-left: 10vw;
    font-size: 1.5vw;
}

.workcontainer{
    display: flex;
    margin-left: 5vw;
    width: 100%;
}

.workcontainer p{
    font-size: 1.5vw;
}

.workcontainer .workleft{
    width: 30%;
}

.workcontainer .workright{
    margin-left: 3.5vw;
   width: 55%;

}

.certcontainer{
    margin-left: 5vw;
    display: flex;
}

.certcontainer p{
    font-size: 1.5vw;
}

.extracontainer{
    margin-left: 5vw;
    display: flex;
}

.extracontainer p{
    font-size: 1.5vw;
}

.additional{
    margin-left: 5vw;
}

.additional p{
    font-size: 1.5vw;
    text-align: justify;
}

.refcontainer{
    margin-left: 5vw;
    display: flex;
}

.refcontainer p{
    font-size: 1.5vw;
}

.refcontainer .refright{
    margin-left: 10vw;
    width: 50%;
}

.refcontainer .refleft{
    width: 50%;
}
